<ion-header>
  <ion-toolbar>
    <ion-title>Location Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="search-container">
    <ion-searchbar
      [(ngModel)]="searchQuery"
      (ionInput)="onSearchChange($event)"
      placeholder="Search for a location"
      animated="true"
      debounce="300"
    ></ion-searchbar>

    <ion-list *ngIf="searchResults.length > 0" class="search-results">
      <ion-item *ngFor="let result of searchResults" (click)="selectLocation(result)" button>
        <ion-label>{{ result.description }}</ion-label>
      </ion-item>
    </ion-list>
  </div>

  <capacitor-google-map #map id="map"></capacitor-google-map>
</ion-content>
