<ion-header>
  <ion-toolbar>
    <ion-title>Location Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="search-container">
    <ion-searchbar
      [(ngModel)]="searchQuery"
      (ionInput)="onSearchChange($event)"
      placeholder="Search for a location"
      animated="true"
      debounce="300"
    ></ion-searchbar>

    <ion-list *ngIf="searchResults.length > 0" class="search-results">
      <ion-item
        *ngFor="let result of searchResults"
        (click)="selectLocation(result)"
        button
      >
        <ion-label>{{ result.description }}</ion-label>
      </ion-item>
    </ion-list>

    <ion-card *ngIf="selectedLocation" class="location-details">
      <ion-card-content>
        <ion-item lines="none">
          <ion-icon name="location" slot="start" color="primary"></ion-icon>
          <ion-label class="ion-text-wrap">
            <h2>{{ selectedLocation.address }}</h2>
            <p *ngIf="selectedLocation.city">City: {{ selectedLocation.city }}</p>
            <p *ngIf="selectedLocation.state">State: {{ selectedLocation.state }}</p>
            <p *ngIf="selectedLocation.country">Country: {{ selectedLocation.country }}</p>
            <p>Coordinates: {{ selectedLocation.lat }}, {{ selectedLocation.lng }}</p>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>

  <capacitor-google-map #map id="map"></capacitor-google-map>
</ion-content>
